<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <h2 class="section-heading">Missão</h2>
                <hr class="light">
                <p class="text-faded">Empoderar mulheres moçambicanas no sector de tecnologia, promovendo acesso à educação, 
                    desenvolvimento profissional e oportunidades de liderança para criar um ambiente tecnológico mais inclusivo e 
                    inovador!
                </p>
                <a href="#" class="btn btn-light btn-lg">Saiba mais!</a>
            </div>
        </div>
    </div>
</section>