<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <h2 class="section-heading">Fale connosco!</h2>
                <hr class="primary">
                <p>Pronto para iniciar seu próximo projecto connosco? Excelente! Entre em contato por telefone ou envie-nos um e-mail, e retornaremos o mais breve possível.</p>
            </div>
        <div class="col-lg-2 offset-lg-2 text-center">
            <a href="https://twitter.com/{{ site.social.twitter }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.social.twitter }}</p>
            </a>
        </div>
        <div class="col-lg-2 offset-lg-1 text-center">
            <a href="mailto:{{ site.social.email }}">
            <i class="fa fa-envelope fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.social.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 offset-lg-1 text-center">
            <a href="https://github.com/{{ site.social.github }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.wansati }}</p>
            </a>
        </div>

    </div>
</section>