<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Associação Moçambicana Mulheres na Tecnologia</h1>
            <hr>
            <p>Empoderar mulheres moçambicanas no setor de tecnologia, promovendo acesso à educação, desenvolvimento profissional e 
                oportunidades de liderança para criar um ambiente tecnológico mais inclusivo e inovador.
            </p>
            <a href="#about" class="btn btn-primary btn-lg page-scroll">Leia mais...</a>
        </div>
    </div>
</header>