<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="{{ site.baseurl }}/assets/img/portfolio/1.jpg" class="img-fluid" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Workshop
                            </div>
                            <div class="project-name">
                                Workshops de Programação para Mulheres
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="{{ site.baseurl }}/assets/img/portfolio/2.jpg" class="img-fluid" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Inclusão
                            </div>
                            <div class="project-name">
                                Empreendedorismo Feminino e Tecnologia
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="{{ site.baseurl }}/assets/img/portfolio/3.jpg" class="img-fluid" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Inclusão
                            </div>
                            <div class="project-name">
                                Mentoria e Rede de Suporte
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="{{ site.baseurl }}/assets/img/portfolio/1.jpg" class="img-fluid" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Inovação
                            </div>
                            <div class="project-name">
                                Introdução à Robótica e STEM
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="{{ site.baseurl }}/assets/img/portfolio/2.jpg" class="img-fluid" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Colaboração
                            </div>
                            <div class="project-name">
                                CLG 2024
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="{{ site.baseurl }}/assets/img/portfolio/3.jpg" class="img-fluid" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Colaboração
                            </div>
                            <div class="project-name">
                                Django Girls 2024
                            </div>
                        </div>
                    </div>
                </a>
            </div> -->
        </div>
    </div>
</section>